body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

.Landing{
  min-height: 75vh;
}

.Statistics{
  min-height: 75vh;
}

.About{
  min-height: 75vh;
}

#viruses-logo{
  color: white;
}

.row-margin{
  margin-bottom: 10vh;
}

.card-height{
  min-height: 20vh;
}